@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Source+Sans+Pro:wght@400;900&display=swap');


:root {

    --buzz-color-1: rgb(217, 226, 255);
    --buzz-color-2: rgb(217, 228, 251);
    --buzz-color-3: rgb(187, 205, 247);
    --buzz-color-4: rgb(103, 103, 158);
    --buzz-color-5: rgb(245, 249, 255);
    


}


html {
    overflow: hidden;
    background-color: var(--buzz-color-2);
}

.buzz-container {
    height: 100vh;
    width: 100vw;

}


/* Background */
.buzz-bg-2 {
    background-color: var(--buzz-color-2);
}

.buzz-bg-5 {
    background-color: var(--buzz-color-5);
}

.buzz-bg-4 {
    background-color: var(--buzz-color-4);
}




/* Border */
.buzz-bd-radius-1 {
    border-radius: 20px;
}

.buzz-bd-radius-circle {
    border-radius: 50%;
}



.buzz-period-bd-radius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--buzz-color-5);
}




/* text */
.buzz-text-color-4 {
    color: var(--buzz-color-4);

}

/* button */
.buzz-btn {
    border-radius: 50%;
    height: 3.5vw;
    width: 3.5vw;
    color: var(--buzz-color-3);
    background-color: var(--buzz-color-5);
    box-shadow: -3px -3px 5px white, 3px 3px 5px var(--buzz-color-2);
    border: none;
}



.buzz-btn:hover {
    color: var(--buzz-color-4);
    border: 1px solid var(--buzz-color-4);
    background-color: rgba(217, 226, 255,0.2);
    box-shadow: -3px -3px 5px white, 3px 3px 5px var(--buzz-color-3);
}
.buzz-btn-click{
    color: var(--buzz-color-4);
    border: 1px solid var(--buzz-color-4);
    background-color: rgba(217, 226, 255,0.2);
    box-shadow: -3px -3px 5px white, 3px 3px 5px var(--buzz-color-3);
}

.buzz-btn-countdown {
    width: 100%;
    border-radius: 50px;
    color: var(--buzz-color-3);
    background-color: var(--buzz-color-5);
    border: none;
    text-align: center;

    font-size: 150px;
    font-weight: 520;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--buzz-color-4);
}


.buzz-btn-2 {
    height: 3vw;
    width: 3vw;
}

.buzz-btn-3 {
    height: 2.5vw;
    width: 2.5vw;
}


/* layout */

.buzz-layout {
    display: grid;

    grid-template-columns: 28% 44% 28%;
    height: 84vh;
    /* height: 60vw; */
}

.buzz-overflow {
    overflow-y: auto;
    overflow-x: hidden;
}

.buzz-scroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--buzz-color-3);
    border-radius: 30px;
}
.buzz-scroll:hover::-webkit-scrollbar-track {
    background-color: var(--buzz-color-1);
    border-radius: 30px;
}

/* ::-webkit-scrollbar-thumb {
    background-color: var(--buzz-color-3);
    border-radius: 30px;
} */

::-webkit-scrollbar {
    opacity: 0;
    background: transparent;
    width: 6px;

}
::-webkit-scrollbar:hover {
    opacity: 1;
}





/* padding */
.buzz-p-container {
    padding: 30px;
}

.buzz-plr-container {
    padding-left: 30px;
    padding-right: 30px;
}

/* height */
.buzz-h-40 {

    
    max-height: 230px;

}

.buzz-h-10 {
    height: 13%;
}