@media screen and (max-width : 980px)  {
    .buzz-item-team {
        font-size: 120px;
    }
    .buzz-team-name {
        font-size: 27px;
        
    }
    .h-90{
        height: 70vh;
    }

    .buzz-btn-check {
        width: 30px;
        height: 18px;
    }
    
    .buzz-chk-circle {
        width: 12px;
        height: 12px;
    }

    .buzz-btn {
        height: 3vw;
        width: 3vw;
        font-size: 14px;
    }

    .buzz-btn-2 {
        height: 2.5vw;
        width: 2.5vw;
        font-size: 10px;
    }
    
    .buzz-btn-3 {
        height: 2vw;
        width: 2vw;
        font-size: 10px;
    }

    .buzz-h-40{
        height: 200px;
    }


    /* mid */
    .buzz-btn-time {
        font-size: 90px;
    }

    .buzz-btn-24s {
        font-size: 60px;
    }
    .buzz-period {
        font-size: 20px;
    }
}