* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buzz-img-team {
    width: 100%;
    height: 100%;
    /* min-height: 150px; */
}

.buzz-team-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    font-weight: 800;

}

.buzz-pos-on {
    position: relative;

    z-index: 10;
}

.buzz-period {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 800;
    position: relative;
    z-index: 10;
}

.buzz-bd-radius-2 {
    border-radius: 20px;
}

.buzz-btn-check {
    width: 47px;
    height: 25px;
}

.buzz-chk-circle {
    width: 19px;
    height: 19px;
}

.buzz-item-team {
    text-align: center;
    line-height: 140px;
    height: 50%;
    font-size: 200px;

    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--buzz-color-4);
}

.btn-minus-plus {
    background-color: var(--buzz-color-5);
    border: none;
}

.buzz-btn-attack-left {
    border: none;
    background-color: var(--buzz-color-2);
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;

    border-right: 60px solid var(--buzz-color-3);
}

.buzz-btn-attack-right {
    border: none;
    background-color: var(--buzz-color-2);
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;

    border-left: 60px solid var(--buzz-color-3);
}


.buzz-pos-re-hidden {
    position: relative;
    z-index: -1;
    opacity: 0;

}



.buzz-btn-group button {
    text-align: center;
    background-color: var(--buzz-color-5);
    border: none;
    color: var(--buzz-color-4);
    padding: 10px;
    cursor: pointer;
    float: left;
}

/* Clear floats (clearfix hack) */
.buzz-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.buzz-btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.buzz-btn-group button:hover {
    border: 1px solid var(--buzz-color-4);

}



.buzz-btn-24s {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
    background-color: var(--buzz-color-5);
    border: none;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--buzz-color-4);
    font-size: 110px;
}

.buzz-btn-24s:hover {
    border: 1px solid var(--buzz-color-4);


}

#buzz-btn-14s {
    border-bottom-left-radius: 40px;
    font-weight: 450;
    font-size: 130%;
}

#buzz-btn-reset {

    border-bottom-right-radius: 40px;
    font-weight: 450;
    font-size: 130%;
}

.buzz-btn-time {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--buzz-color-4);

}